<section class="footer-Unal">
    <div class="content-footer row">
        <div class="col-md-3 col-xs-6 list-items clearfix">
            <div class="item">
                <a href="http://www.legal.unal.edu.co" target="_top">Régimen Legal</a>
            </div>
            <div class="item">
                <a href="http://www.unal.edu.co/dnp" target="_top">Talento humano</a>
            </div>
            <div class="item">
                <a href="http://www.unal.edu.co/contratacion/" target="_top">Contratación</a>
            </div>
            <div class="item">
                <a href="http://www.unal.edu.co/dnp/" target="_top">Ofertas de empleo</a>
            </div>
            <div class="item">
                <a href="http://www.unal.edu.co/rendicion_de_cuentas/2012/" target="_top">Rendición de cuentas</a>
            </div>
            <div class="item">
                <a href="http://www.concursoprofesoralun.unal.edu.co/ConcursoDocente/news.php" target="_top">Concurso docente</a>
            </div>
            <div class="item">
                <a href="http://www.pagovirtual.unal.edu.co/" target="_top">Pago Virtual</a>
            </div>
            <div class="item">
                <a href="http://www.unal.edu.co/control_interno/index.html" target="_top">Control interno</a>
            </div>
            <div class="item">
                <a href="http://www.simege.unal.edu.co" target="_top">Calidad</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">Buzón de notificaciones</a>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 list-items second clearfix ">
            <div class="item">
                <a href="http://correo.unal.edu.co" target="_top">Correo institucional</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/mapa-del-sitio/" target="_self">Mapa del sitio</a>
            </div>
            <div class="item">
                <a href="http://redessociales.unal.edu.co" target="_top">Redes Sociales</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/faq/" target="_self">FAQ</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">Quejas y reclamos</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/atencion-en-linea/" target="_self">Atención en línea</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/encuesta/" target="_self">Encuesta</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/contactenos/" target="_self">Contáctenos</a>
            </div>
            <div class="item">
                <a href="http://www.onp.unal.edu.co" target="_top">Estadísticas</a>
            </div>
            <div class="item">
                <a href="http://unal.edu.co/glosario/" target="_self">Glosario</a>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 list-items border">
            <div class="info-item first">
                <p class="bodytext">
                    <span class="contact">Contacto página web:</span>
                    <span>Dirección</span>
                    <span>Edif. 205 -&nbsp;Of. 117</span>
                    <span>Bogotá D.C.,&nbsp; Colombia</span>
                    <span>(+57 1) &nbsp;316 5000</span>
                </p>
            </div>
            <div class="info-item last">
                <p class="bodytext">
                    <span>© Copyright 2014</span>
                    <span>Algunos derechos reservados.</span>
                    <span><a href="mailto:editorweb_fchbog@unal.edu.co" title="Comuníquese con el webmaster de la Universidad Nacional de Colombia" class="mail">editorweb_fchbog@unal.edu.co</a></span>
                    <span><a href="http://unal.edu.co/legal.pdf" title="Acerca de la web de la Universidad Nacional de Colombia" target="_blank" class="internal-link">Acerca de este sitio web</a></span>
                </p>
            </div>
        </div>
        <div class="col-md-2 col-xs-12 logos">
            <div class="col-md-6 col-xs-6 logos-content clearfix">
                <a href="http://www.orgulloun.unal.edu.co">
                    <%= image_tag('footer_unal/log_orgullo.png',alt: "Orgullo UN",border: "0",title:"Orgullo UN") %>

                </a>
                <a href="http://www.agenciadenoticias.unal.edu.co/inicio.html" class="imgAgencia">
                    <%= image_tag('footer_unal/log_agenc.png',alt: "Agencia de Noticias",border: "0",title:"Agencia de Noticias") %>
                </a>
            </div>
            <div class="col-md-6 col-xs-6 logos-content clearfix">
                <a href="http://www.gobiernoenlinea.gov.co/web/guest">
                    <%= image_tag('footer_unal/log_gobiern.png',alt: "Programa gobierno en línea",border: "0",title:"Programa gobierno en línea") %>
                </a>
                <a href="http://www.contaduria.gov.co/">
                    <%= image_tag('footer_unal/log_contra.png',alt: "Contaduría general de la republica",border: "0",title:"Contaduría general de la republica") %>
                </a>
            </div>
        </div>
    </div>
</section>
