<%= render 'static/header_unal_render' %>
<h1 class="page-header">
  CULTURAL AREA
</h1>
<p>At equal that the physical area this section have task of artistic and cultural training, the inscription have the same process, you have to register on “sibu page” and have to pay some tariff according to your profile.
</p>
<div class="pre-scrollable">
  <ul>
    <li><h4>
      COURSES OFFERED:
    </h4>
    <p>Each course has an hourly intensity of 30 hours by semester.
    </p>
    <ul>
      <li>SALSA AND MERENGUE DANCE:
      <p>
        this course have two levels, the first is for beginners for this reason the course is for the individual practice and the second is for beginning to dance in couples and is necessary had presented the first level for access at second. The rhythms applied in the course are the mambo, chucu chucu, pachanga, guaguancó, charanga, etc.  May be the major benefits is that the instructor is Olga Lucia Ceballos, a woman dancer very recognized in the country.

        <br><b>PLACE: Alfonso Lopez stadium </b>
        <br>
        <a href="https://www.youtube.com/watch?v=30dwmMldMnc">Video</a>
      </p>
      </li>
      <li>COMTEMPORARY DANCE:
      <p>Technical and practical training to achieve the fluency and connection with the modern rhythms.
      </p>
      <b>PLACE: Kinder garden (walkers room) and hall
      </b>
      </li>
      <li>
        ARABIC DANCE (Beginner level):
        <p>
          This course looks to tech the movement technique and associated expression related with Arabic dance and lets you enjoy the sensuality of the body that emerge from inside of being
        </p>
        <b>PLACE: Alfonso Lopez stadium</b>
      </li>
      <li>
        AFRICAN DANCE:
        <p>The objective is find the differences and relations between the traditional African dance to diaspora African dance, relation dance-music and how work tool.
        </p>
        <b>
          PLACE: Kinder garden (walkers room)
        </b>
      </li>
      <li>
        TANGO (Beginner level):
        <p>
          This course finds that when you have the experience to dance tango, you know the sentimental awareness that it implies.
        </p>
        <b>
          PLACE: Historical archive building
        </b>
      </li>
      <li>
        BAGPIPES AND DRUMS:
        <p>
          You can interpret the folkloric rhythms of the Caribbean Coast with instruments such as bagpipes, maracas, gouache and others, studying rhythms such as cumbia, gaita corrida, puya, bullerengue, fandango, mapale and chandé, among others.
        </p>
        <b>PLACE: Alfonso Lopez Stadium </b>
      </li>
      <li>POPULAR GUITAR:
      <p>
        Developed the abilities for the interpretation and the accompaniment of popular melodies, by means of the guitar and the voice, if you want to present to this course is necessary that you bring your guitar.
      </p>
      <b>PLACE: Sports center (room 103)</b>
      </li>
      <li>
        VOCAL TECHNIQUE (Beginner, pre-assembly and advanced level):
        <p>
          Through techniques of body posture, breathing, vocalization, intonation and tuning you can developed the artistic expression.
        </p>
        <b>
          PLACE: IPARM School.
        </b>
      </li>
      <li>
        ACTORAL FORMATION:
        <p>
          The main objective is that the actor developed and recognized the tools, the expressive means and the technical rudiments of the performance.
        </p>
        <b>
          PLACE: IPARM School.
        </b>
      </li>
    </ul>
    <div class="row">
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/grupos/11_salsa.jpg" alt="" class="collage center-block"  />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/1_cultura_5.jpg" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/pestanas_cultura/2Grupos2.jpg" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/grupos/musica_andica.jpg" alt="" class="collage center-block"  />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/grupos/tambores.jpg" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/2cultura/grupos/3_chirimia.jpg" alt="" class="collage center-block" />
      </div>
    </div>
    </li>
  </ul>
</div>




<%= render 'static/footer_unal_render' %>
