<%= render 'static/header_unal_render' %>
<h1 class="page-header">
  ENTERTAINMENT AND LEISURE
</h1>
<div class="pre-scrollable">
  <p>
    If anyone want to realize activities that will be different at developed in academic life, the university manage a headquarters’ department named “university wellness” that for the free time developed three programs focus on the personal developed, one can access to these according to activity, exist courses that you must pay for do it or work groups.
  </p>

  <h2>
    PHYSICAL ACTIVITY AND SPORT
  </h2>
  <ul>
    <li><h4>DEPORTIVE SCENARY:</h4>
    <p>
      The University city have large green areas that are used by the students for different activities, especially for playing some sport and relaxing. The West zone of headquarter is found the sites designed for physical training and is showed in the next image.  The sceneries showed are controlled by the wellness departure, in these are developed the courses offered by itself and the practices of university sports teams. Additionally, in the sports center building have 4 lounges utilized for the same activity.
      <img src="https://farm9.staticflickr.com/8683/15982333041_986cbf3046_b.jpg" alt="" class="img-responsive center-block" />
    </p>
    <div class="row">
      <div class="col-xs-6">
        <img src="http://agenciadenoticias.unal.edu.co/typo3temp/_processed_/csm_AgenciaUN_0205_02_7c7bc43c2f.jpg" alt="" class="img-responsive center-block" />
      </div>
      <div class="col-xs-6" style="margin-top: 140px;;">
        The Bio-Healthy points were implemented since 2015, today exits two points ubicated at the next of geology and agricultural sciences buildings.
      </div>
    </div>
    </li>
    <li><h4>COURSES OFFERED:</h4>
    <p>
      At the beginning of each semester during the first month if you are member of the university (student, professor, worker, etc) you can enrol in the next page  <a href="http://www.sibu.unal.edu.co/home.jsf">SIBU</a> to one of the next courses offered by the university wellness departure. These courses have limited shares and you have to pay for it, if you are member, you obtain a discount, in this case the prize for each course is around of $50000 COP.
    </p>
    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li>Aikido</li>
          <li>Fitness</li>
          <li>Soccer</li>
          <li>Basketball</li>
          <li>Jiu-jutsi</li>
          <li>Skating</li>
          <li>Yoga</li>
          <li>Multi-strength</li>
          <li>Climbing</li>
          <li>Fencing</li>
          <li>Karate Do</li>
          <li>Judo</li>
          <li>Voleyball</li>
          <li>Taekwondo</li>
          <li>Tennis</li>
          <li>Cardio-spinning</li>
          <li>Ping-Pong</li>
        </ul>
      </div>
      <div class="col-xs-8">
        <div class="col-xs-6">
          <img src="http://agenciadenoticias.unal.edu.co/uploads/pics/AgenciaUN_0818_1_09.jpg" alt="" class="img-responsive center-block" />
        </div>
        <div class="col-xs-6">
          <img src="http://agenciadenoticias.unal.edu.co/uploads/pics/AgenciaUN_0818_4_02.jpg" alt="" class="img-responsive center-block" />
        </div>
        <div class="col-xs-12">
          <img src="http://agenciadenoticias.unal.edu.co/uploads/pics/AgenciaUN_0930_4_01.jpg" alt="" class="img-responsive center-block" />
        </div>
        <div class="col-xs-offset-6 col-xs-6">
            <p>DEPENDENCY:</p>
            <p> Building 103, Sport Center, Officine 100
              Telephone 3165000, extension 17212-17218</p>
            <a href="mailto:Afdunal_bog@unal.edu.co">Send mail</a>
        </div>

      </div>

    </div>
    </li>
  </ul>
  <%= link_to 'PHYSICAL ACTIVITY', entertaiment_physical_path, {:class=> "left btn btn-default"}  %>
  <%= link_to 'CULTURAL ACTIVITY', entertaiment_cultural_path, {:class=> "right btn btn-default"}  %>
</div>




<%= render 'static/footer_unal_render' %>
