<%= render 'static/header_unal_render' %>

<div class="panel-group">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Objective</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        The main objective of this web page is allowed to the international students who visited the National University of Colombia
        to know the most important facts of the Univeristy, for instance the nickname of the buildings, a little bit history of them and so on.
        <br>
        <br>
        This guide uses some important tools as google maps in order to make web page much interactive than as a normal guide.
        <br>
        <br>
        This project arises as iniciative of the professor James Blackburm as an assigment to the course of Explora UN. Our team wants to thanks James for
        these wonderful idea and for being a great teacher.
      </div>
      <div class="panel-footer">
        <div class="pull-right">
        Date: 10/08/2017
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">Develop By</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        This web page were develop by a group of four, who are currently studying in National University of Colombia. The group is a multidiciplinary team with different skills which were very important in order to develop this project.
        <br>
        <br>
        Each member of team was focused on different tasks during the develop of the project, we value the information a lot, for that reason the majority of the time was spent on the recollection of that, after that we analyzed and adapted these information in order to have a really quality information to show, the final result can be seen in this web page.
        <br>
        <br>
        Finally, we hope that you can enjoy this project and learn something new and interesting of our University.
      </div>
      <div class="panel-footer">
        <div class="pull-right">
        Andres Gutierrez,
        Camilo Zorro,
        Karen,
        
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'static/footer_unal_render' %>
