<%= render 'static/header_unal_render' %>


<div id="map"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcb-OB6a6NRTzXNxvVL9yDWA4n_9z3G2M&callback=initMap"
async defer></script>
<%= render 'static/footer_unal_render' %>
