<%= render 'static/header_unal_render' %>
<h1 class="page-header">
  PROGRAMS FOR PHYSICAL ACTIVITY
</h1>
<div class="pre-scrollable">
  <ul>
    <li><h4>Vitalizate UN</h4>
    <p>Vitalizate is a program that promote the physical activity in the university, the program realizes:
    </p>
    <div class="row">
      <div class="col-xs-8">
        <br>
        <ul>
          <li>Training for multiplier groups: Seminaries and workshops related with the promotion the physical activity and healthy life style.
          </li>
          <li>
            “Educational pills”: Talks related with the selfcare
          </li>
          <li>
            Following your measure, in three days of the semester you can size different compounds of the body’s health and according to the data the persons in charge give suggestions you.
            <ul>
              <li>
                Body composition
              </li>
              <li>
                Flexibility
              </li>
              <li>
                Muscular strength
              </li>
              <li>
                Cardiovascular resistance
              </li>
            </ul>
          </li>
          <li>
            “Vitalizate holiday”, This activity is realized in various days but each topic is celebrated per day, the development is simple, in a specific place of campus (generally in front of the nursery building) where have stations with plays, physical tests, etc. The goal of this holiday is promote the work team and the integration.
              Some common activities during year are:
              <ul>
                <li>
                  Run with your pet, obedience circuit.
                </li>
                <li>
                  Kizomba
                </li>
              </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/13244672_1025191920892864_1616413397730393151_n.png?oh=8ea971569f8fde86ec8a6607d400af85&oe=5A7BD40D" alt="" class="img-responsive center-block" />
      </div>
      <div class="col-xs-4">
        <img src="http://bienestar.bogota.unal.edu.co/divisiones/3deporte/ludico_1.jpg" alt="" class="img-responsive center-block" />
      </div>
      <div class="col-xs-8">
        <br>
        <br>
        <br>
        <br>

        <ul>
          <li>
            Hikes, it is programming hikes in the university for visit the museums and other important and relevant places with the aim in the acknowledgement of campus.
          </li>
          <li>
            Runners’s Club:  Is a group focusing in the practice and knowledge of techniques about the athletics and its variants
          </li>
          <li>
            “Vitalizate meetings” Each week, the vitalizate program doing some activities in the sports center, the main activities are cross fit, step, Pilates, functional training, rumba, muscle toning, aerobics, etc.
          </li>
        </ul>
      </div>
    </div>
    </li>
    <li><h4>Internal recreational tournaments</h4>
    <div class="row">
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/13445388_1035273939884662_6059285375548073346_n.png?oh=506b547db330ab5cbf783f0dad3b79ac&oe=5A62AE1D" alt="" class="collage center-block"  />
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/16473540_1249260161819371_2773467135529434830_n.jpg?oh=c694890d6e4ac78d5cfb294e3f9264d7&oe=5A6EE1C5" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/16473891_1249260168486037_6602522422321658915_n.jpg?oh=1c1be91487cbc6e5a6293f7f63e09dbd&oe=5AADF79A" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/20767715_1439877582757627_4209107588492372888_n.png?oh=23bf859a7403cfb736e0d90a2c4ecd79&oe=5A647050" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/18486179_1640921825948262_3727788878080701656_n.jpg?oh=e08e6d1d998d99f9ff0817652faf3417&oe=5A786D30" alt="" class="collage center-block" />
      </div>
      <div class="col-xs-4">
        <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/22448428_1829486073758502_2694832472581624617_n.png?oh=5dc3473de87669c64f91531d49907e79&oe=5A69C60F" alt="" class="collage center-block" />
      </div>



    </div>
    </li>
  </ul>
</div>





<%= render 'static/footer_unal_render' %>
