<%= render 'static/header_unal_render' %>

<h1 class="page-header">
  Researching Groups
</h1>

<div class="pre-scrollable">
  <div class="panel-group">
    <div class="panel panel-custom">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Technology for education and innovation:</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          Knowledge´s agendas
          INFORMATION AND COMMUNICATION TECHNOLOGIES
          <br>
          <br>
          It is an interdisciplinary group that focuses on the development of researching activities
          aimed at generating processes of knowledge transfer around the integration of
          technologies and educational innovation. Among the objectives of the research group are:
          to design teaching and learning strategies through the use of technology, and to design
          tools focused on favoring the autonomous development of activities in teaching and
          learning processes.
          <br>
          Researching fields:
          <ul>
            <li>USE OF TECHNOLOGY IN TEACHING AND LEARNING STRATEGIES FOR
              STRENGTHENING COMPETENCES.</li>
              <li>
                METHODOLOGIES AND TOOLS FOR THE AUTONOMOUS DEVELOPMENT OF
                ACTIVITIES IN TEACHING-LEARNING PROCESSES
              </li>
              <li>
                ACCEPTANCE, USE AND INTEGRATION OF TECHNOLOGY IN EDUCATIONAL
                PROCESSES.
              </li>
              <li>
                DEVELOPMENT OF TEACHING AND LEARNING STRATEGIES FOR ENGINEERING
                TRAINING.
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Fredy Andres Olarte Dussan

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Alife: researching group in artificial life</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            Biotechnology
            <br>
            <br>
            The ALIFE group was formed as result of the activity of the &quot;Research Laboratory in
            Intelligent Systems&quot; from the Engineering faculty at the National University of Colombia.
            At this moment, the Artificial Life group is focuses on creating computer simulations of the
            most basic life´s components, based on investigations made around the world, and the
            work from the different members in biology and chemistry.
            <br>
            Researching fields:
            <ul>
              <li>Complex systems</li>
              <li>
                Intelligent systems
              </li>

            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Jonatan Gomez Perdomo
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">Analysis, design and materials GIES
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            C&T of minerals and materials

            <br>
            <br>
            GIES is the researching group from the academic unit of structures and construction from the Department of Civil and Agricultural Engineering´s Department of the National University of Colombia, Bogotá. It is directly related to the mastering in civil engineering structures, and has direct and indirect links with other master's and doctoral programs of the National University.

            <br>
            Researching fields:
            <ul>
              <li>RESEARCH IN MATERIALS´ FIELD
              </li>
              <li>
                RESEARCH IN ANALYSIS AND STRUCTURAL DESIGN´S FIELD

              </li>

            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Dorian Luis Linero Segrera
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse4">Air quality:

            </a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            ENVIRONMENT AND BIODIVERSITY


            <br>
            <br>
            Air Quality is an interuniversity group formed by researchers from: the National University of Colombia Bogotá, the University of Los Andes and the University of La Salle. Its research fields are 1. Air quality and health, 2. Characterization of contaminants, 3. Modeling of air quality, 4. New technologies, 5. Air quality training.

            <br>
            Researching fields:
            <ul>
              <li>MODELING OF AIR QUALITY

              </li>
              <li>
                NEW TECHNOLOGIES AND DESIGN

              </li>
              <li>
                CHARACTERIZATION OF CONTAMINANTS
              </li>
              <li>
                AIR QUALITY TRAINING

              </li>
              <li>
                GREENHOUSE GASES

              </li>
              <li>
                AIR QUALITY AND HEALTH
              </li>

            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Nestor Yezid Rojas Roa
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse5">Electrical machines y drives, EMD


            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            ENERGY
            <br>
            <br>
            The researching group "Electrical Machines & Drives", EMD is from the Electrical and Electronic Engineering´s Department. Its main interest areas are: modeling and control of power electronics systems and electric machines, renewable energy generation systems, and network integration intelligent (SMART GRID), electromagnetic compatibility (EMC) in industrial electrical systems, energy management in industrial electrical systems.
            <br>
            Researching fields:
            <ul>
              <li>MODELING AND CONTROL OF ELECTRONIC POWER SYSTEMS AND ELECTRICAL MACHINES
              </li>
              <li>	SMART GRIDS

              </li>
              <li>
                GENERATION OF ENERGY WITH RENEWABLE RESOURCES
              </li>
              <li>ELECTRICAL MOBILITY

              </li>
            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Javier Alveiro Rosero Garcia
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse6">GNUM modeling and numerical methods in engineering group



            </a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            INFORMATION AND COMMUNICATION TECHNOLOGIES
            <br>
            <br>
            The research activities of the GNUM are mainly focused on deformable mechanical solids and structural mechanics, with a special focus on the characterization and simulation of the behavior of complex materials and structures, as well as physical phenomena characteristic from engineering. The numerical techniques necessary for the appropriate resolution of the resulting models (finite elements, methods without mesh, etc.) are studied too.          <br>
            <br>

            Researching fields:
            <ul>
              <li>MODELING OF COMBUSTION PHENOMENA
              </li>
              <li>MESH-FREE ELEMENTS

              </li>
              <li>
                MODELING OF BIOMEDICAL PROCESSES

              </li>
              <li>ENERGY METHODS
              </li>
              <li>
                FINITE ELEMENTS
              </li>
              <li>
                PARTIAL DIFFERENTIAL EQUATIONS
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Diego Alexander Garzon Alvarado
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse7">Research group in water resources engineering  GIREH

            </a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            ENVIRONMENT AND BIODIVERSITY

            <br>
            <br>
            GIREH is a research group that was born by the initiative of several researchers, with professional and investigative experience in the area of water resources. The group has participated in different research projects developed mainly through Master thesis and Specialization in the Postgraduate in Hydraulic Resources. Its activity, however, has not been limited exclusively to research, but also to the development of activities tending to the improvement of environmental and social conditions fundamentally of river towns along the Magdalena and Cauca rivers, among others.
            <br>

            Researching fields:
            <ul>
              <li>MODELING OF PHENOMENA AND NATURAL THREATS

              </li>
              <li>HYDRAULIC ENGINEERING


              </li>
              <li>
                UNDERGROUND WATERS


              </li>
              <li>PLANNING, POLICY, INFORMATION AND ENVIRONMENTAL MANAGEMENT OF WATER RESOURCES

              </li>
              <li>
                HYDROLOGY AND METEOROLOGY
              </li>

            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty
            <div class="pull-right">
              Leader: Erasmo Alfredo Rodriguez Sandoval
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse8">Working group on new design and manufacturing-automation technologies DIMA UN


            </a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            INFORMATION AND COMMUNICATION TECHNOLOGIES



            <br>
            <br>
            The objective of the group is to establish a network of experimental research work, in order to assimilate, adapt, develop and transfer experiences in the areas of design and material processing, and automation, thus trying to contribute to the growth of the national industry. In second phase, the working group presented the Interconecta project (experimental network for the design of complex products and processes), before the technological development network of the National University of Colombia
            <br>

            Researching fields:
            <ul>
              <li>AUTOMATION IN MANUFACTURING AND PRODUCT DEVELOPMENT
              </li>


            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty, Economic sciences Faculty, Arts Faculty, Social science Faculty.
            <div class="pull-right">
              Leader: Ernesto Cordoba Nieto

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel-group">
      <div class="panel panel-custom">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse9">Health engineering



            </a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse in">
          <div class="panel-body">
            Knowledge´s agendas
            HEALTH AND LIFE, INFORMATION AND COMMUNICATION TECHNOLOGIES




            <br>
            <br>
            The Health Engineering Research Group's mission is to build a stock of knowledge that contributes to generate innovating processes in health organizations in Colombia. Starting from the analysis and construction of improvement proposals; through work in the following Strategic Direction Areas: Integral Management in Health, Clinical Engineering and Communication in Health
            <br>

            Researching fields:
            <ul>
              <li>TECHNOLOGY MANAGEMENT

              </li>
              <li>
                KEYS IN APS
              </li>
              <li>
                QUALITY AND RISK
              </li>


            </ul>
          </div>
          <div class="panel-footer">
            Dependencies: Engineering Faculty, Economic sciences Faculty, Arts Faculty, Social science Faculty.
            <div class="pull-right">
              Leader: Carlos Hernan Caicedo Escobar
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



  <%= render 'static/footer_unal_render' %>
