@font-face {
  font-family: 'AncizarSans-Regular';
  src: font-url('AncizarSans-Regular.eot');
  src: font-url('AncizarSans-Regular.woff2') format('woff2'),
       font-url('AncizarSans-Regular.woff') format('woff'),
       font-url('AncizarSans-Regular.ttf') format('truetype'),
       font-url('AncizarSans-Regular.svg#Ancizar-Sans-Regular') format('svg'),
       font-url('AncizarSans-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
