/* Colors */
$white: #FFF;
$black: #000;
$blue: #72e2fd;
$dark-gray: #474747;
$green-unal: #50992e;

/* Fonts */
$font-AncizarSansR: 'Ancizar-Sans-Regular', Tahoma, Geneva, sans-serif;


/* Fonts sizes */
$font-size-base: 16px;
$font-size-small:ceil(($font-size-base * 0.85)); // ~12px
